.container {
    width: 800px;
    height: 250px;
    border-radius: 16px;
    background-color: var(--background-color-3);
}

.dataContainer {
    gap: 0;
    padding-left: var(--spacing-xl);
    padding-top: var(--spacing-xl);
}

.sectionTitle {
    font-size: var(--font-size-xxl);
    padding-left: var(--spacing-md);
    background-color: var(--background-color-3);
    width: 800px;
    border-radius: var(--radius-md);
}

.usernameText {
    font-size: var(--font-size-xxl);
}
.emailText {
    font-size: var(--font-size-lg);
    color: var(--text-color-dimmed);
    margin-left: 1px;
}
.profilePicture {
    margin-left: auto;
    margin-right: var(--spacing-xxl);
    align-self: center;
}

.modal {
    align-items: center;
    height: 100%;
}
.modalTitle {
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    padding-top: var(--spacing-xxl);
}
.modalText {
    font-size: var(--font-size-lg);
}
.modalConfirmButton {
    margin-top: var(--spacing-xxl);
    margin-bottom: var(--spacing-xxl);
    background-color: #e60f32;
}
