.conveyor {
    position: relative;
    height: fit-content;
    min-width: 0;
    width: 100%;
    height: 600px;
    max-height: 100%;
    overflow: hidden;
}

.virtuoso {
    height: 100%;
    z-index: 1;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.virtuoso::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.conveyorShadow {
    width: 100%;
    height: 250px;
    background-color: var(--background-color-2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    pointer-events: none;
}
