.container {
    width: 50%;
    gap: 4px;
}

.items {
    min-height: 0;
    gap: var(--spacing-sm);
    overflow: auto;
}

.selectionElement {
    background-color: var(--background-color-4);
    border-radius: var(--radius-xl) var(--radius-sm) var(--radius-sm) var(--radius-xl);
    width: 340px;
    height: 36px;
    align-items: center;
}

.selectionElementPfp {
    width: 36px;
    height: 36px;
    border-radius: var(--radius-xl);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.removeIcon {
    margin-right: var(--spacing-sm);
}

.label {
    font-size: var(--font-size-sm);
    padding-left: 2px;
}

.placeholder {
    font-size: var(--font-size-sm);
    font-style: italic;
    padding-left: 2px;

    color: var(--text-color-dimmed);
}
