.container {
    width: 50%;
    gap: 4px;
}

.items {
    min-height: 0;
    gap: var(--spacing-sm);
    overflow: auto;
}

.selectionElement {
    background-color: var(--background-color-4);
    width: 340px;
    height: 36px;
    align-items: center;
    flex: none;
}

.selectionElementPfp {
    width: 36px;
    height: 36px;
    border-radius: var(--radius-xl);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.removeIcon {
    margin-right: var(--spacing-sm);
}

.label {
    font-size: var(--font-size-sm);
    padding-left: 2px;
}

.placeholder {
    font-size: var(--font-size-sm);
    font-style: italic;
    padding-left: 2px;

    color: var(--text-color-dimmed);
}

@media screen and (min-width: 2560px) {
    .label,
    .placeholder {
        font-size: var(--font-size-md);
    }
    .selectionElement {
        width: 425px;
        height: 42px;
    }
    .selectionElementPfp {
        width: 42px;
        height: 42px;
    }
    .removeIcon {
        width: 23px;
        height: 23px;
    }
}
