.modalTitleText {
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    margin-bottom: var(--spacing-md);
    padding-left: var(--spacing-xxxl);
    padding-top: var(--spacing-xxl);
}
.supportiveText {
    padding-left: var(--spacing-xxxl);
}
.selectorsGroup button {
    border-radius: 0;
}
.selectorsGroup button:first-of-type {
    border-radius: var(--radius-sm) 0px 0px var(--radius-sm);
}
.selectorsGroup button:last-of-type {
    border-radius: 0px var(--radius-sm) var(--radius-sm) 0px;
}
.genButton {
    color: black;
    margin-left: auto;
    margin-right: var(--spacing-xxl);
}
