.openButton {
    font-weight: 400;
}

.openButton * {
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    margin-bottom: var(--spacing-md);
    padding-left: var(--spacing-xxxl);
    padding-top: var(--spacing-xxl);
}

.content {
    padding: 0 var(--spacing-xxxl);
    min-height: 0;
    flex: 1;
    width: 100%;
    gap: var(--spacing-xxl);
}

.itemsWithLabel {
    gap: 4px;
}

.label {
    padding-left: 2px;
    font-size: var(--font-size-sm);
}

.segmentedControlButton {
    padding: 0;
    height: 44px;
    width: 200px;
    text-align: center;
    font-size: var(--font-size-sm) !important;
}

.segmentedControlButton span {
    flex: 1;
}

.genButton {
    color: black;
    margin-left: auto;
    margin-bottom: var(--spacing-xl);
}

.controlGroup {
    min-height: 0;
    flex: 1;
    gap: var(--spacing-xxl);
}

.selectedItemsStack {
    flex: 1;
}
