.miniPlayer {
    align-items: center;
    margin-left: auto;
    justify-content: center;
    text-align: center;

    width: 500px;
}

.songTitle {
    width: 200px;
    overflow: hidden;
}

.placeholder {
    font-size: var(--font-size-sm);
    font-style: italic;
    padding-left: 2px;

    color: var(--text-color-dimmed);
}
