.miniPlayer {
    align-items: center;
    margin-left: auto;
    align-self: flex-start;
    padding-top: var(--spacing-sm);
    width: 500px;
    justify-content: center;
    text-align: center;
}

.songTitle {
    width: 200px;
    overflow: hidden;
}

.placeholder {
    font-size: var(--font-size-sm);
    font-style: italic;
    padding-left: 2px;

    color: var(--text-color-dimmed);
}
