.card {
    background-color: var(--background-color-3);
    color: var(--text-color);
    border-radius: 10px;
    padding: 12px;
    padding-bottom: 0;
    z-index: 2;

    aspect-ratio: 8 / 11;
    width: 400px;
    margin: 0 12px;
    cursor: pointer;
}

.card[data-selected="true"] {
    width: 420px;
}

.card[data-curveball="true"] {
    border: 1px solid var(--primary-color-7) inset;
    box-shadow: 0 0 3px var(--primary-color-7);
    animation: curveball 5s linear infinite;
}

.card > * {
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.cardImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
}

.metadata {
    gap: 0;
}

.titleText {
    font-size: var(--font-size-lg);
    font-weight: 500;
}
.artistsText {
    font-size: var(--font-size-md);
    color: var(--text-color-dimmed);
    font-weight: 400;
}
.curveballText {
    font-size: var(--font-size-sm);
    color: var(--primary-color-3);
}

.controlGroup {
    height: 50px;
    gap: 0px;
    font-weight: 600;
    margin-top: auto;
    align-items: center;
}
.spotifyLogo {
    margin-left: auto;
    width: 30px;
}

.link {
    pointer-events: auto;
}

@keyframes curveball {
    0% {
        border: 1px solid var(--background-color-3);
    }
    50% {
        border: 1px solid var(--primary-color-7);
    }
    100% {
        border: 1px solid var(--background-color-3);
    }
}

@media screen and (max-width: 1700px) {
    .card {
        width: 320px;
    }
    .card[data-selected="true"] {
        width: 336px;
    }
}

@media screen and (max-width: 1500px) {
    .card {
        width: 228px;
        font-size: var(--font-size-sm);
    }
    .card[data-selected="true"] {
        width: 239px;
    }

    .titleText {
        font-size: var(--font-size-md);
    }
    .artistsText {
        font-size: var(--font-size-sm);
    }
    .curveballText {
        font-size: var(--font-size-xs);
    }
}
